/* ------------------- ID CARD ---------------------- */

.outerID {
    position: relative;
    width: 50rem;
    height: 30rem;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 1rem;
    left: 28%;
    margin-top: 10vh;
    transform: rotateZ(15deg) translateX(-30%);
    animation: swing 10s infinite linear;
    z-index: 2;
}

.outerID:hover {
    animation-play-state: paused;
}

@keyframes swing {
    0% {
        transform: translateX(-15%) rotateZ(9deg);
    }
    8.3% {
        transform: translateX(-10%) rotateZ(6deg);
    }
    16.6% {
        transform: translateX(-5%) rotateZ(3deg);
    }
    24.9% {
        transform: translateX(0%) rotateZ(0deg);
    }
    33.2% {
        transform: translateX(5%) rotateZ(-3deg);
    }
    41.5% {
        transform: translateX(10%) rotateZ(-6deg);
    }
    50% {
        transform: translateX(15%) rotateZ(-9deg);
    }
    58.3% {
        transform: translateX(10%) rotateZ(-6deg);
    }
    66.6% {
        transform: translateX(5%) rotateZ(-3deg);
    }
    74.9% {
        transform: translateX(0%) rotateZ(0deg);
    }
    83.2% {
        transform: translateX(-5%) rotateZ(3deg);
    }
    91.5% {
        transform: translateX(-10%) rotateZ(6deg);
    }
    100% {
        transform: translateX(-15%) rotateZ(9deg);
    }
}


/* ---------------- RIBBONS ---------------------*/

.ribbon1 {
    position: absolute;
    width: 2.5rem;
    height: 30rem;
    background: var(--primary-color);
    margin-top: -40%;
    margin-left: 50%;
}

.ribbon1::before {
    position: absolute;
    content: "";
    height: 30rem;
    width: 2.5rem;
    background: black;
    margin-top: -40%;
    margin-left: -10%;
    z-index: -1;
}

.ribbon2 {
    position: absolute;
    width: 2.5rem;
    height: 30rem;
    background: black;
    margin-top: -40%;
    margin-left: 54%;
    transform: rotateZ(20deg);
}

.ribbon2::after {
    position: absolute;
    content: "";
    height: 30rem;
    width: 2.5rem;
    background: var(--primary-color);
    margin-top: -40%;
    margin-left: 10%;
    z-index: -2;
}

.innerID {
    position: relative;
    width: 99%;
    height: 99%;
    background: url(Images/Pattern\ Only.jpg);
    background-size: cover;
    border-radius: 1rem;
    left: 0.8%;
    top: -0.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.headerContainer {
    height: 10%;
    width: 100%;
    position: relative;
}

.header {
    position: relative;
    height: 5rem;
    width: 90%;
    background: var(--primary-color);
    left: 50%;
    transform: translateX(-50%);
    top: 7%;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.headerShadow {
    position: absolute;
    height: 5rem;
    width: 90%;
    background: black;
    left: 45%;
    transform: translateX(-45%);
    top: 20%;
    z-index: 1;
}

.logoContainer {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.logoContainer input {
    visibility: hidden;
    width: 0;
}

.inputLogoDiv {
    position: relative;
    width: 10rem;
}

.inputLogoLabel {
    width: 10rem;
    font-size: 1rem;
    color: black;
    background: white;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.inputLogoLabelLabel {
    position: absolute;
    background: black;
    height: 2rem;
    top: 3%;
    left: 2%;
    opacity: 0;
    width: 10rem;
    transition: 0.5s ease-in-out;
    z-index: -1;
}

.innerID:hover .logoContainer label {
    opacity: 1 !important;
}

.innerID:hover .logoContainer label::before {
    opacity: 1;
}

.logo {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    background: black;
    position: relative;
    overflow: hidden;
}

.logo:hover {
    cursor: pointer;
}

.innerID .header .logo img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.schoolName {
    height: 3rem;
    width: 80%;
    border: none;
    background: transparent;
    font-size: 2.5rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    transition: 1s;
}

.schoolName:focus {
    outline: none;
}

.schoolName::placeholder {
    color: white;
}

.idBody {
    height: 80%;
    width: 100%;
}

.idBodyContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: relative;
    height: 100%;
    width: 100%;
}


/* ------------------- ID FORM ---------------------*/

.idForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 50%;
    position: relative;
}

.idForm .name {
    width: 80%;
    height: 20%;
    z-index: 0;
    position: relative;
}

.name input {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background: rgba(20, 20, 20, 1);
    border: none;
    color: white;
}

.name input::placeholder {
    color: white;
}

.nameLabel {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    left: -1%;
    top: 10%;
    z-index: -1;
}

.idForm .designation {
    width: 80%;
    height: 20%;
    z-index: 0;
    position: relative;
}

.designation input {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background: rgba(20, 20, 20, 1);
    border: none;
    color: white;
}

.designation input::placeholder {
    color: white;
}

.designationLabel {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    left: -1%;
    top: 10%;
    z-index: -1;
}

.idForm .bloodGroup {
    width: 80%;
    height: 20%;
    z-index: 0;
    position: relative;
}

.bloodGroup input {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background: rgba(20, 20, 20, 1);
    border: none;
    color: white;
}

.bloodGroup input::placeholder {
    color: white;
}

.bloodGroupLabel {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    left: -1%;
    top: 10%;
    z-index: -1;
}


/* ------------------- PROFILE PICTURE ---------------------*/

.profilePicContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.profilePic {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profilePic img {
    width: 100%;
    height: 100%;
}

.changePictureDiv {
    width: 100%;
    height: 10%;
}

.changePictureButton {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    position: relative;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

.innerID:hover .changePictureButton {
    opacity: 1;
}

.changePicture {
    visibility: hidden;
}

.changePictureLabel {
    font-size: 1rem;
    background: white;
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.changePictureLabel:hover {
    cursor: pointer;
}

.changePictureLabelLabel {
    position: absolute;
    width: 50%;
    height: 90%;
    margin-top: 1%;
    margin-left: 26.5%;
    background: black;
    left: -1%;
    z-index: -1;
}

@media screen and (max-width:891px) {
    .outerID {
        width: 22rem;
        height: 35rem;
    }
    * {
        font-size: 50%;
    }
    .idBodyContent {
        flex-direction: column;
    }
    .idForm {
        width: 90%;
    }
    .schoolName {
        width: 90%;
        font-size: 1.5rem;
    }
    .inputLogoDiv {
        position: absolute;
        margin-top: -10rem;
    }
    .profilePic {
        width: 80%;
        height: 60%;
    }
    .changePictureLabel {
        width: 80%;
    }
    .changePictureLabelLabel {
        width: 80%;
        margin-left: 10%;
    }
    .ribbon1 {
        margin-top: -90%;
    }
    .ribbon2 {
        margin-top: -90%;
        left: 5%;
    }
    /* /* .outerID {
        left: 20%;
    } */
    @keyframes swing {
        0% {
            transform: translateX(-30%) rotateZ(9deg);
        }
        8.3% {
            transform: translateX(-20%) rotateZ(6deg);
        }
        16.6% {
            transform: translateX(-10%) rotateZ(3deg);
        }
        24.9% {
            transform: translateX(0%) rotateZ(0deg);
        }
        33.2% {
            transform: translateX(10%) rotateZ(-3deg);
        }
        41.5% {
            transform: translateX(20%) rotateZ(-6deg);
        }
        50% {
            transform: translateX(30%) rotateZ(-9deg);
        }
        58.3% {
            transform: translateX(20%) rotateZ(-6deg);
        }
        66.6% {
            transform: translateX(10%) rotateZ(-3deg);
        }
        74.9% {
            transform: translateX(0%) rotateZ(0deg);
        }
        83.2% {
            transform: translateX(-10%) rotateZ(3deg);
        }
        91.5% {
            transform: translateX(-20%) rotateZ(6deg);
        }
        100% {
            transform: translateX(-30%) rotateZ(9deg);
        }
    }
    .nav .navigation ul {
        display: none;
    }
    .nav .company-items {
        width: 100%;
        justify-content: space-around;
    }
    .nav .company-logo-container {
        margin-left: -5rem;
    }
    .company-title {
        margin-right: -20%;
    }
    .message {
        width: 100%;
    }
    .message p {
        font-size: 1.5rem;
    }
    .navigation .menuBtnDiv {
        display: flex;
        width: 10rem;
        margin-right: -7rem;
    }
}